<h1> twotter. <h1>
<form id="login-form" method="POST" action="authenticate">
<h3> {{message}} <h3>
  My name is: <input id = "username"  type="text" name="name"/>  <input type="submit" value="Log On">
</form>
<!--<h2 id = "newmessage"></h2> -->
</br>
</br>
<img src="images/birdflipped.png" alt="bird image" style="width:304px;height:304px;">

<img src="images/speech-bubble.png" alt="bird image" style="width:304px;height:304px;">