<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<h1>Is it Christmas? </h1>

<ul>
{{#each days}}
 <li>{{this.response}}</li>
{{/each}}
</ul>